## Python Strings

In Python, a string is a data type used to represent a sequence of characters.

String's are one of the most commonly used data types, and they are used to represent text.


Strings in Python are immutable sequences of characters used to represent text. They can be enclosed in single quotes ('...'), double quotes ("..."), or triple quotes ('''...''' or """...""") for multi-line text.

We use single quotes or double quotes to represent a string in python.

#### Example

In [13]:
str1 = "Hello, World!"
str2 = 'Python lanuage'
str3 = """This is a multi-line
string in Python."""
print(str1)
print(str3)
print(type(str1))

Hello, World!
This is a multi-line
string in Python.
<class 'str'>

### String Operations

### 1.concatenation

By using Concatenation we can combine strings using the + operator.

In [3]:
string1 = "Hasan"
string2 = "ahmed"
result = string1 + " " + string2
print(result)

Hasan ahmed

### 2. Repetition

Repeats a string multiple times.

In [7]:
str1=1,3.2,32,432
repeat=str1*3
print(repeat)

(1, 3.2, 32, 432, 1, 3.2, 32, 432, 1, 3.2, 32, 432)

### 3. Indexing

Accessing individual character in a string.

In [19]:
str1="python"
print(str1[2])
print(str1[0])

t
p

### 4. Slicing
Extracting a substring from a string.

In [21]:
str1="python"
print(str1[2:4])
print(str1[0:3])

th
pyt

### Python Format String

### 1.old style formatting (% operator)

In [82]:
# 1.old style formatting (% operator)

# uses the percentage operator and placeholders
name="sk.hasan ahmed"
age=23
place="vijayawada"
qualification="B.TECH"
Branch="EEE"

formatted_string= " My name is %s.\n I am %d years old,\n I am from %s.\n I have completed my %s in %s Engineering.\n" %(name,age,place,qualification,Branch)
print(formatted_string)

 My name is sk.hasan ahmed.
 I am 23 years old,
 I am from vijayawada.
 I have completed my B.TECH in EEE Engineering.

### 2.format method

In [80]:
# 2.format method

# uses the format() method withplaceholders
name="sk.hasan ahmed"
age=23
place="vijayawada"
qualification="B.TECH"
Branch="EEE"

formatted_string= " My name is {}.\n I am {} years old,\n I am from {}.\n I have completed my {} in {} Engineering.\n".format(name,age,place,qualification,Branch)
print(formatted_string)

 My name is sk.hasan ahmed.
 I am 23 years old,
 I am from vijayawada.
 I have completed my B.TECH in EEE Engineering.

### 3.String Interpolation (f - string)

To specify a string as an f-string, simply put an " f " in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [84]:
name="sk.hasan ahmed"
age=23
place="vijayawada"
qualification="B.TECH"
Branch="EEE"

formatted_string= f" My name is {name}.\n I am {age} years old,\n I am from {place}.\n I have completed my {qualification} in {Branch} Engineering.\n"
print(formatted_string)

 My name is sk.hasan ahmed.
 I am 23 years old,
 I am from vijayawada.
 I have completed my B.TECH in EEE Engineering.

### String methods

Python has a set of built - in methods that we can use on strings.

All string methods return new values they do not change the original string.

### 1.len()

   returns th length of the string.

In [61]:
my_string="Python is fun"
length=len(my_string)
print(length)

13

### 2.lower/upper()

converts the string to lowercase / uppercase.

In [64]:
str1="hasan"
str2="AHMED"
print(str1.upper())
print(str2.lower())

HASAN
ahmed

### 3.strip()

removes leading and trailing white spaces.

In [86]:
name="    hello world     "
print(name.strip())

hello world

### 4.replace()

replaces a substring with another substring.

In [93]:
str1="having fun with friends"
print(str1)
str2=str1.replace("friends","family")
print(str2)

having fun with friends
having fun with family

### 5.split()

split the string into a list of substring.

In [112]:
str1="python is fun and python is good to learn."
split=str1.split()
print(split)

['python', 'is', 'fun', 'and', 'python', 'is', 'good', 'to', 'learn.']

### 6.join()

joins a list of string into a single string.

In [105]:
str1="python is fun and python is good to learn."
split="".join(str1)
print(split)

python is fun and python is good to learn.

### 7.capitalize()

Converts the frist character to upper case.

The first character is converted to upper case, and the rest are converted to lower case

In [110]:
str="my name is hasan"
result=str.capitalize()
print(result)

My name is hasan

### 8. casefold():

Converts string into lower case

In [123]:
str="My Name Is Hasan"
result=str.casefold()
print(result)

my name is hasan

### 9.center():

Returns a centered string.

In [127]:
str="python"
result=str.center(20)
print(result)

       python

### 10.count():

Returns the number of times a specified value occurs in a string.

In [132]:
str="python is fun"
result=str.count("is")
print(result)

1

### 11.encode():

Returns an encoded version of the string.

In [140]:
str="Python"
x=str.encode()
print(x)

b'Python'

### 12.endswith():

Returns true if the string ends with the specified value.

In [147]:
txt = "Hello, welcome to my world."
x = txt.endswith("my world.", 5, 11)
print(x)

False

### 13.expandtabs():

Sets the tab size of the string

In [164]:
txt = "H\ta\ts\ta\tn"

print(txt)
print(txt.expandtabs(0))
print(txt.expandtabs(1))
print(txt.expandtabs(3))
print(txt.expandtabs(4))

H	a	s	a	n
Hasan
H a s a n
H  a  s  a  n
H   a   s   a   n

### 14.find():

Searches the string for a specified value and returns the position of where it was found.

In [167]:
str="i like python"
finding=str.find("k")
print(finding)

4

### 15.Format

Formats specified values in a string

In [170]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

### 16.index()	

Searches the string for a specified value and returns the position of where it was found

In [174]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

### 17.isalnum()	

Returns True if all characters in the string are alphanumeric

In [199]:
str= "hasan"
x =str.isalnum()
print(x)

True

### 18.isalpha()	

Returns True if all characters in the string are in the alphabet

In [202]:
str= "hasan"
x = str.isalpha()
print(x)

True

### 19.isascii()	

Returns True if all characters in the string are ascii characters

In [205]:
str = "hasan123"
x=str.isascii()
print(x)

True

### 20.isdecimal()	

Returns True if all characters in the string are decimals

In [217]:
txt = "12786"
x = txt.isdecimal()
print(x)

True

### 21.isdigit()	

Returns True if all characters in the string are digits

In [219]:
txt = "50800"

x = txt.isdigit()

print(x)

False

### 22.isidentifier()	

Returns True if the string is an identifier

In [222]:
txt = "hasan"

x = txt.isidentifier()

print(x)

True

### 23.islower()	

Returns True if all characters in the string are lower case

In [227]:
txt = "hello world!"

x = txt.islower()

print(x)

a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

True
False
True
False

### 24.isnumeric()	

Returns True if all characters in the string are numeric

In [234]:
txt = "6535"
x = txt.isnumeric()
print(x)
d = "-1"
e = "1.5"
print(d.isnumeric())
print(e.isnumeric())

True
False
False

### 25.isprintable()	

Returns True if all characters in the string are printable

In [237]:
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

### 26.isspace()	

Returns True if all characters in the string are whitespaces

In [240]:
txt = "   s   "

x = txt.isspace()

print(x)

False

In [242]:
txt = "   "

x = txt.isspace()

print(x)

True

### 27.istitle()	

Returns True if the string follows the rules of a title

The istitle() method returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False.

In [245]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

### 28.isupper()	

Returns True if all characters in the string are upper case

The isupper() method returns True if all the characters are in upper case, otherwise False.

In [254]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS HASAN"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

### 29.ljust()	

Returns a left justified version of the string

In [265]:
txt = "banana"

x = txt.ljust(33)

print(x, "is my favorite fruit.")

banana                            is my favorite fruit.

### 30.lstrip()	

Returns a left trim version of the string

The lstrip() method removes any leading characters (space is the default leading character to remove)

In [268]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

### 31.maketrans()	

Returns a translation table to be used in translations

In [272]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

### 32.partition()	

Returns a tuple where the string is parted into three parts

The partition() method searches for a specified string, and splits the string into a tuple containing three elements.

The first element contains the part before the specified string.

The second element contains the specified string.

The third element contains the part after the string.

In [278]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

### 33.zfill()	

Fills the string with a specified number of 0 values at the beginning

The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

If the value of the len parameter is less than the length of the string, no filling is done.

In [281]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

### 34.title()	

Converts the first character of each word to upper case

The title() method returns a string where the first character in every word is upper case. Like a header, or a title.

If the word contains a number or a symbol, the first letter after that will be converted to upper case.

In [285]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

### 35.translate()	

Returns a translated string

In [288]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!