## Python Sets

 1. Unordered: Sets do not maintain the order of elements, meaning there is no indexing or slicing.

 2. Unique: Sets automatically enforce that all elements are unique, with no duplicates allowed.

 3. Mutable: Sets are mutable, allowing modification after creation, such as adding or removing elements.

 4. Dynamic Size: The size of a set is flexible and can grow or shrink as elements are added or removed.

 5. Immutable Elements: Elements within a set must be immutable types, such as numbers, strings, or tuples. Sets cannot contain other sets or lists.

 6. No Duplicates: Attempting to add duplicate elements to a set has no effect; the set remains unchanged.

 7. Set Operations: Sets support various mathematical operations like union, intersection, difference, and symmetric difference.

 8. Iterable: Sets can be iterated over using loops, and they support common operations like membership tests (using the in keyword).

 9. No Indexing: Since sets are unordered, they do not support indexing or slicing operations, unlike lists or tuples.

10. Hashable: Sets themselves must be hashable to be used as elements of other sets or keys in dictionaries.

### Creating Sets :
 Python Sets can be created by using the built-in set() function with an iterable object or a sequence by placing the sequence inside curly braces, separated by a ‘comma’.

Note: A Python set cannot have mutable elements like a list or dictionary, as it is immutable.

In [7]:
num={2,4,42,43,234,324,32}
print(num)

{32, 2, 4, 324, 42, 234, 43}

In [9]:
names={"sai","abhi","teja","ram"}
print(names)

{'sai', 'teja', 'abhi', 'ram'}

### Set Operations:

Python Set provides serveral operations for working with sets.

#### 1.Union Operation

The Union operation will combine elements of sets by removing duplicates.

#### Syntax:

In [ ]:
set1.union(set2) or set1 | set2

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
z=x|y
print(z)

{'google', 'banana', 'apple', 'microsoft', 'cherry'}

#### 2.Intersection Operation

The intersection operation will create a new set containing elements that are common to both sets.

#### Syntax:

In [ ]:
set1.intersection(set2) or set1 & set2

In [27]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
z=x&y
print(z)

{'apple'}

#### 3. Difference Operation:
In Difference Operation it will create a new set containing elements that are in the first set but not in the second.

#### Syntax:

In [ ]:
set1.difference(set2) or set1 - set2

In [41]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
z=x-y
print(z)

{'banana', 'cherry'}

### 4.Symmetric Difference Operation:

The symmetric difference operation will be create a new set containing elements that are in either set, but not in both.

#### Syntax:

In [ ]:
set1.symmetric_difference(set2) or set1 ^ set2

In [47]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
z=x^y
print(z)

{'google', 'microsoft', 'banana', 'cherry'}

### Set Methods
It has a set of built-in methods that we can use on sets.

#### 1.add()	 	

Adds an element to the set

In [53]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'apple', 'cherry', 'orange', 'banana'}

#### 2.clear()	 	

Removes all the elements from the set

In [56]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

#### 3.copy()	 	

Returns a copy of the set

In [59]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'apple', 'cherry', 'banana'}

#### 4.difference_update()	-=	

Removes the items in this set that are also included in another, specified set

In [66]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

#### 5.discard()	 	

Remove the specified item

In [69]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'apple', 'cherry'}

#### 6.intersection_update()	&=	

Removes the items in this set that are not present in other, specified set(s)

In [77]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

#### 7.isdisjoint()	 	

Returns whether two sets have a intersection or not

In [80]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

#### 8.issubset()	<=	

Returns whether another set contains this set or not

In [83]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

#### 9.issuperset()	>=	

Returns whether this set contains another set or not

In [86]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

#### 10.pop()	 	

Removes an element from the set

In [89]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'cherry', 'banana'}

#### 11.remove()	 	

Removes the specified element

In [92]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'apple', 'cherry'}

#### 12.symmetric_difference_update()	^=	

Inserts the symmetric differences from this set and another

In [95]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'banana', 'google'}

#### 13.update()	|=	

Update the set with the union of this set and others

In [98]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'google', 'banana', 'apple', 'microsoft', 'cherry'}