## Python Lists

Python lists can store an ordered collection of items, or elements, of varying types.

They are often used to compile multiple items into a single, mutable variable, which is helpful for retrieving items, specifying outputs or performing calculations quickly. 

Lists are also a type of built-in data structure in Python (along with tuples, sets and dictionaries), which is a specified way of storing and formatting data.

To create a list in Python, write a set of items within square brackets ([]) and separate each item with a comma. 

Items in a list can be any basic object type found in Python, including integers, strings, floating point values or boolean values.

### Creation of list

In [8]:
my_list=[]
num=[8,7,4,32,]
names=["apple","mango","banana"]
mixed_types=["apple",65,6.78,True]

print(type(mixed_types))
print(type(num))

<class 'list'>
<class 'list'>

### Access list Elements

In Python, Lists are orderd and each item in a list is associated with a number. The number is known as a list index.


The index of the first element is 0, second element is 1 and so on.
Python allows negitive indexing for its sequences.


The index of -1 referes to the last item, -2 to the second last item and so on.

In [20]:
# Positive indexing
language = ["Python", "Swift", "C++", "C"]
print(language[1])
print(language[3])

Swift
C

In [22]:
# Negitive indexing
numbers = [51,65,36,34,45,96]
print(numbers[-1])
print(numbers[-4])

96
36

### Slicing of a List

Consider a Python list, in order to access a range of elements in a list, you need to slice a list. One way to do this is to use the simple slicing operator i.e. colon(:).

In Python, it is possible to access a portion of a list using the slicing Operator:

In [41]:
my_list = ['a','b','c','d','e','f','g','H','h','i','j','k','l','m','n','o','p','q']
print(my_list[3:12])
print(my_list[2:-1])
print(my_list[:14])
print(my_list[:])
print(my_list[-8:-4])

['d', 'e', 'f', 'g', 'H', 'h', 'i', 'j', 'k']
['c', 'd', 'e', 'f', 'g', 'H', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'H', 'h', 'i', 'j', 'k', 'l', 'm']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'H', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q']
['j', 'k', 'l', 'm']

### List Operations

List Contain Two types of Operations.

1.Concatenation

2.Repetition

#### Concatenation

In [56]:
# Adding Two lists 
a = [1,2,3]
b = [6,93,35,14,14]
c = a + b
print(c)

[1, 2, 3, 6, 93, 35, 14, 14]

#### Repetition

In [54]:
# Repete the values at multiple times
a = [12,42,64,35,23]
b = a * 6
print(b)

[12, 42, 64, 35, 23, 12, 42, 64, 35, 23, 12, 42, 64, 35, 23, 12, 42, 64, 35, 23, 12, 42, 64, 35, 23, 12, 42, 64, 35, 23]

### Change List items

To change the values of a specific item, refer to the index number.

In [60]:
list = ["apple", "banana", "cherry"]
print(list)
list[0] = "Water melon"
print(list)

['apple', 'banana', 'cherry']
['Water melon', 'banana', 'cherry']

In [70]:
names = ["orange","kiwi","mango"]
print(names)
names[1] = "apple"
print(names)

['orange', 'kiwi', 'mango']
['orange', 'apple', 'mango']

### Change a Range of item Values

To Change the values of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new vales.

In [73]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
fruits[1:4] = ["blackcurrant", "watermelon","cherry"]
print(fruits)

['apple', 'blackcurrant', 'watermelon', 'cherry', 'kiwi', 'mango']

### List Methods

Python has a set of built-in methods that you can use on list.


Methods   	         Description


append()	        Adds an element at the end of the list

extend()        	Add the elements of a list to the end of the current list

insert()	        Adds an element at the specified position

remove()         	Removes the item with the specified value

pop()	            Remove the element at the specified position

index()          	Returns the index of the first element with the specified value

count()	            Returns the numbetr of elements with the specified value

sort()	            It can sort the list in ascending order

reverse()	        Reverse the order of element in the list

#### 1. append( ):

To add an item to the end of the list, use the append() method:

In [82]:
fruits = ["apple", "banana", "cherry"]
fruits.append("mango")
print(fruits)

['apple', 'banana', 'cherry', 'mango']

#### 2. extend( ):

To append elements from another list to the current list, use the extend() method.

In [90]:
fruits = ["apple", "banana", "cherry"]
fruits_extend = ["mango", "pineapple", "orange"]
fruits.extend(fruits_extend)
print(fruits)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'orange']

### 3. insert( ):

To insert a list item at a specified index or position, use the insert() method.

In [95]:
language = ["Python", "Swift", "C++", "C"]
language.insert(3,"jaya")
print(language)

['Python', 'Swift', 'C++', 'jaya', 'C']

### 4. remove( ):


Removes the first occurance of a value, The remove() method removes the specified item.

In [114]:
language = ["Python", "Swift", "C++", "C"]
language.remove("C++")
print(language)

['Python', 'Swift', 'C']

### 5. pop( ):


The pop() method removes the specified index, Removes and returns an elements at a specified index.

In [121]:
language = ["Python", "Swift", "C++", "C"]
language.pop()
print(language)

['Python', 'Swift', 'C++']

### 6. index( ):
Returns the index of the first occurance of a value

In [128]:
numbers = [1,46,13,34,13,43,774,74,35,246]
index = numbers.index(13)
print(index)

2

### 7. count( ):
Returns the number of occurances of a value.

In [131]:
number=345,56,98,56,23,65
count_56=number.count(56)
print(count_56)

2

In [137]:
name=['g','h','d','d','d','e','r','hf','gr','g']
name_h=name.count('h')
print(name_h)

1

### 8. sort( ):

Sorts the list in a ascending order

In [142]:
numbers = [45,23,12,24,65,7325,343,34]
numbers.sort()
print(numbers)

[12, 23, 24, 34, 45, 65, 343, 7325]

### 9. reverse( ):

Reverses the order of elements in the list

In [145]:
numbers = [45,23,12,24,65,7325,343,34]
numbers.reverse()
print(numbers)

[34, 343, 7325, 65, 24, 12, 23, 45]

### other Methods in List

Methods	Description


clear()	Removes all the elements from the lis


copy()	Returns a copy of the li 

t
del()	The del keyword also removes the specified index

### clear( ):
The clear( ) method empties the list. The list still remains, but it has no content.

In [156]:
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)

[]

### copy( ):
Returns a shallow copy of the list.

In [162]:
number = [1, 2, 3, 5]
number2 = number.copy()
print(number2)

[1, 2, 3, 5]

### del( ):
The del keyword also removes the specified index:

In [196]:
fruits = ["apple", "banana","mango"]
del fruits[2]
print(fruits)

['apple', 'banana']

## Python Tuple

Python Tuple is a collection of objects separated by commas. In some ways, a tuple is similar to a Python list in terms of indexing, nested objects, and repetition but the main difference between both is Python tuple is immutable, unlike the Python list which is mutable.


To create a tuple we will use () operators.

### Tuple creation

In [181]:
tuple = ("hero",786,True,9.5)
print(tuple)
print(type(tuple))

('hero', 786, True, 9.5)
<class 'tuple'>

### Access Tuple items
We can access tuple items by referring to the index number and inside square brackets.


Tuples support indexing and slicing just like a list. Here in this indexing we will have 
+ve and -ve indexing.

Where the +ve indexing was from LHS to RHS

And the -ve indexing from RHS to LHS.

In [177]:
fruits = ("apple", "banana", "mango")
print(fruits[-1]) 
print(fruits[1])

mango
banana

### Slicing of a Tuple
We can specify a range of indexes by specifying where to start and where to end the range.

In [187]:
name=("sravan","nandu","kumar")
print(name[0:3])

('sravan', 'nandu', 'kumar')

### Immutability
Once a tuple is created we cannot change its elements or add/remove elements

In [198]:
fruits = ("mango","kiwi","apple")
fruits[1] = "orange"
print(fruits)

TypeError: 'tuple' object does not support item assignment

### Tuple operations

Same as a list we will have operations on tuple also.

1.Concatenation

2.Repetation

In [202]:
# Example program on Concatenation
num1 = (132,42,23.1,42)
num2 = (1,2,3)
print(num2 + num1)

# Example program on Repetiton
num1 = (23,42,324,66,57)
print(num1 * 3)

(1, 2, 3, 132, 42, 23.1, 42)
(23, 42, 324, 66, 57, 23, 42, 324, 66, 57, 23, 42, 324, 66, 57)

### Tuple Methods

Tuple have limited methods compared to list due to their immutability.

It has two built-in methods that we can use on tuples.


### Methods	 Description

#### count()	Returns the number of times a specified value occurs in a tuple

#### index()	Searches the tuple for a specified value and return the position of where it was found

### count( ):

Returns the number of occurances of a specified value

The count() method returns the number of times a specified value appears in the tuple.

In [219]:
num = (8,3,4,1,64,21,1,24,1)

num1 =num.count(1)

print(num1)

3

### index( ):

The index() method finds the first occurrence of the specified value.

The index() method raises an exception if the value is not found.

Returns the index of the first occurance of a specified value.

In [227]:
num = (8,3,4,1,64,21,1,24,1)

num1 =num.index(1)

print(num1)

3

In [237]:
numbers = (1,3,4,5,5,7,46,3)
index = numbers.index(3)
print(index)

1